{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        {{#if @custom.enter_tag_slugs_for_primary_sections}}
            {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_primary_sections}}]"}}
                {{#foreach tags}}
                    {{> "topic-grid"}}
                {{/foreach}}
            {{/get}}
        {{else}}
            {{#match posts.length ">" 1}}
                {{#get "tags" include="count.posts" order="count.posts desc" limit="3"}}
                    {{#foreach tags}}
                        {{> "topic-grid"}}
                    {{/foreach}}
                {{/get}}
            {{/match}}
        {{/if}}

        {{#if @custom.enter_tag_slugs_for_secondary_sections}}
            {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_secondary_sections}}]"}}
                {{#if tags}}
                    <div class="gh-topic-list">
                        {{#foreach tags}}
                            {{> "topic-minimal"}}
                        {{/foreach}}
                    </div>
                {{/if}}
            {{/get}}
        {{else}}
            {{#match posts.length ">" 1}}
                {{#get "tags" include="count.posts" order="count.posts desc"}}
                    {{#if tags.[3]}}
                        <div class="gh-topic-list">
                            {{#foreach tags from="4" limit="3"}}
                                {{> "topic-minimal"}}
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            {{/match}}
        {{/if}}
    
    {{> "featured-posts"}}
    
    </div>

</main>